@import '@/app/styles/variables';

.container {
  flex: 1;
  overflow-y: auto;
  padding: 4px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: $border-radius;

    &:hover {
      background: #a8a8a8;
    }
  }
}

.empty {
  text-align: center;
  padding: 40px 20px;
  color: $text-secondary;
}
