@use '@/app/styles/variables' as *;

.container {
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}

.grid {
  height: calc(100vh - 40px);
}

.mapColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mapWrapper {
  flex: 1;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $box-shadow;
  background: white;
}

.listColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filterWrapper {
  margin-bottom: 16px;
  background: white;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $box-shadow;
}

.listWrapper {
  flex: 1;
  background: white;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;

  > div {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
  }
}
